.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py
*/data/*
*solution.ipynb

03ex_Bash_VSCode.ps1
LCP_22-23_students.csv
__pycache__/
anaconda_projects/
data.h5
data.json
example.hdf5
example.json
foo.txt
history.txt
my_library.py
~/